torch==2.0.0+cu117
langchain
transformers
matplotlib
python-dotenv
cpm_kernels
openai
wikipedia
pypdf
tiktoken
pandasai
gradio
loguru==0.7.0
neo4j
pymilvus
google-search-results
chromadb
InstructorEmbedding
sentence-transformers
faiss-cpu
pymysql
redis